.nav{
    display: none;
}
.red{
    width: 150px;
    height: 150px;
    background: red;
    margin-bottom: 20px;
    display: none;
}
.green{
    width: 150px;
    height: 150px;
    background: green;
    margin-bottom: 20px;
    display: none;
}
.blue{
    width: 150px;
    height: 150px;
    background: blue;
    margin-bottom: 20px;
    display: none;
}
button{
    font-size: 20px;
    background-image:linear-gradient(orange, tomato );
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin: 15px 10px;
}
button:hover{
    background-image:linear-gradient(tomato, orange );
}